{% extends "global/Page.html" %}

{% block title %}
    Etapa 2 - Elección grupal
{% endblock %}

{% block content %}

¡Continuamos con la segunda etapa de esta actividad!  

<br>
    Ahora su decisión sobre los candidatos se basa en la elección que hacen de los demás participantes de esta sala. Si usted apuesta al candidato que es elegido por la mayoría, gana los tokens apostados, si apuesta al que menos es elegido por la sala, pierde los tokens apostados.
<br>

Este ejercicio también se desarrolla en ocho (8) rondas. Los pares de candidatos de esta etapa son diferentes a los pares de candidatos de la ronda anterior.

<br>

Por ningún motivo salga de la pantalla, los resultados de esta etapa dependen primordialmente de la elección grupal. En caso que alguien se salga, toda la sesión tendrá que ser repetida de nuevo y las ganancias obtenidas se perderán para todos los participantes de la sala.

<br>

Cuando haya terminado de elegir los candidatos en las ocho (8) rondas, el computador elegirá cuatro (4) rondas aleatoriamente para calcular sus ganancias, incluyendo las pérdidas. Tenga en cuenta que los ganadores de cada ronda no se definirán hasta que todos los participantes hayan elegido. En caso que alguien en la sala no haya completado sus ocho (8) elecciones, los demás participantes deberán esperar hasta que él o ellos finalicen.

<br>

<b> Por ningún motivo salga de la pantalla, los resultados de esta etapa dependen primordialmente de la elección grupal. En caso que alguien se salga, toda la sesión tendrá que ser repetida de nuevo y las ganancias obtenidas se perderán para todos los participantes de la sala. </b>

<br>

Si tiene dudas, levante la mano para que alguien del equipo se acerque a su escritorio y la resuelva antes de comenzar. Evite siempre hacer preguntas en voz alta.

<br>

Ahora, dé click en el botón "Siguiente"
<div class="div_btnNext">
    <input type="button" id="btnNext" class="btnNext" value="Siguiente" onclick="nextView()">
    <button class="otree-btn-next btn btn-primary" style="display: none;" id="id_next" disabled>Siguiente</button>

</div>
{% endblock %}
