{% extends "global/Page.html" %}

{% block title %}
    Pagos
{% endblock %}

{% block content %}

De las 8 rondas jugadas se escogieron las siguientes para pagarle:
{% for ronda, valores in winners.items %}
	{% if ronda in rounds_to_payoff %}
	<div class="div_pago">
	<b>Ronda # {{ ronda }}</b>
	<br>
	En esta ronda usted escogió el candidato {{ valores.my_choose }} apostando {{  valores.tokens }} tokens.
	<br>
	El ganador de esta ronda fue el candidato {{ valores.winner }}.
	<br>
	Por lo tanto usted <b>
		{% if valores.my_choose == valores.winner %}       <!-- valores es porque el total de items en winners -->
			ganó
		{% else %}
			perdió
		{% endif %}
	</b> y obtuvo <b>
		{% if valores.my_choose == valores.winner %}
			{{  valores.tokens }}
		{% else %}
			-{{  valores.tokens }}
		{% endif %}
	</b> tokens.
	</div>
	{% endif %}
{% endfor %}

En total, usted obtuvo {{ total_tokens }} tokens.

<div class="div_btnNext" id="div_btnNext">
	<input type="button" id="btnNext" class="btnNext" value="Siguiente" onclick="nextView()">
	<button class="otree-btn-next btn btn-primary" style="display: none;" id="id_next" disabled>Siguiente</button>
</div>


{% endblock %}
