{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
<style type="text/css">

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

</style>
{% endblock %}

{{ block title }}
    <p>Bienvenido al laboratorio experimental de la Universidad del Rosario</p>
    <p>Instrucciones generales</p>
{{ endblock }}
{{ block content }}
<p>Usted está a punto de participar en una actividad de toma de decisiones, y es crucial que siga las siguientes instrucciones:  </p>

<p>Este ejercicio es individual, a partir de este momento está prohibido comunicarse con otros participantes. Realice su tarea en silencio, todas sus decisiones son personales. Entre más concentrado se encuentre, su desempeño será mejor y podrá aumentar sus ganancias. Si tiene alguna duda durante el ejercicio, levante la mano para que la resuelva en privado con uno de los integrantes del equipo de investigación. Por favor, no realice preguntas en voz alta.</p>

<p>Esta actividad consta de dos partes, la primera con una duración aproximada de 5 a 10 minutos y la segunda con una duración de máxima de 15 a 20 minutos. Antes de cada ejercicio aparecerá una página de instrucciones donde se explica de manera específica la tarea que está por realizar; por favor, léalas detenidamente.</p>

<p>Durante la actividad, hablaremos de tokens. <b>Cada 10 tokens equivalen a $1.000 pesos colombianos.</b>

<p><b>Usted recibirá 100 tokens ($10.000) de subsidio de transporte y una suma fija de 350 tokens ($35.000) por completar la primera parte del ejercicio.</b> Esta primera parte se trata de una tarea de velocidad de procesamiento. Allí codificará grupos de palabras en un tiempo determinado. El objetivo es que procure codificar el mayor número de palabras en tres (3) minutos.</p>

<p>En la segunda parte debe tomar decisiones sobre duplas de hojas de vida de candidatos por un puesto de trabajo. En su pantalla irán apareciendo de manera consecutiva ocho (8) pares de hojas de vida de candidatos por un puesto de trabajo. A estos pares les llamaremos <b>duplas</b>. Usted apostará una cantidad de tokens entre cero (0) y cien (100), al candidato de la dupla que considere mejor para ese puesto. Si su elección coincide con el ganador de cada dupla, usted ganará los tokens apostados, caso contrario, los perderá.</p>

<p>Usted siempre debe escoger solo un candidato de cada dupla y solo puede apostar cantidades positivas de tokens; no obstante, si decide apostar cero (0) tokens a un candidato de la dupla, también obtendrá cero (0) ganancias.</p>

<p>Al finalizar la elección, el computador escogerá el resultado obtenido en cuatro (4) de las ocho (8) duplas para calcular sus ganancias, que le pueden dejar un saldo positivo o negativo de esa etapa. El resultado de cada dupla tiene la misma probabilidad de ser escogido para hacer su pago, por tanto, usted debe tomar decisiones en cada dupla como si ésta fuera a determinar su ganancia final.</p>

<p>Tome en cuenta que las ganancias y pérdidas son acumulables. Si usted acumula ganancias positivas, al final de la actividad aparecerá una pantalla con el total de tokens que le serán pagados en efectivo. Si acumula saldo negativo, se le descontará de la suma fija de 350 tokens que obtuvo en la tarea de codificación. Ahora bien, si acumula un saldo negativo, que supere esos 350 tokens, acabará con cero (0) ganancias y solo podrá obtener el subsidio de transporte.</p>

<p>Tenga presente que retirarse en cualquier momento sin haber finalizado la actividad, implica renunciar al pago que haya obtenido hasta el momento. Solo aquellos que la finalicen, recibirán el subsidio de transporte y las ganancias que pudo haber acumulado.  </p>

<p>Al final de la actividad deberá diligenciar y firmar correctamente una cuenta de cobro que uno de los investigadores le entregará y que debe devolver al equipo antes de su salida del laboratorio. El subsidio de transporte será pagado en efectivo al final del ejercicio y antes de salir del laboratorio. </p>

<p>Si obtiene ganancias positivas adicionales, debe proporcionar nombre y cédula con la que está registrada su cuenta bancaria; si no, se rechazará el pago. Las ganancias se depositarán en su cuenta en menos de 72 horas. Debe entregar un recibo de pago firmado con sus ganancias obtenidas al equipo de investigación antes de salir del laboratorio. </p>

<p>Antes de iniciar esta actividad, lea detenidamente el consentimiento informado y decida si acepta continuar. Si no acepta, avise al equipo levantando la mano y podrá salir de la sala. Agradecemos su participación. El equipo de investigación estará disponible para responder sus preguntas.  </p>

¡Gracias por contribuir a nuestra investigación! 
    <em>{{ formfields }}</em>

<div class="row">
    <div class="col">
        <div class="text-end">
            <button class="otree-btn-next btn-lg btn-primary">Siguiente</button>
        </div>
    </div>
</div>

{{ endblock }}
