{% extends "global/Page.html" %}

{% block title %}
    Etapa 3 - Predicción elección de las empresas
{% endblock %}

{% block content %}

¡Bienvenido a la última etapa de esta actividad!  

<br>
    En esta ocasión, hemos introducido un elemento adicional: en sesiones anteriores, la primera y segunda etapa de esta actividad fue aplicada con gerentes de pequeñas y medianas empresas. O sea, ellos realizaron la tarea de codificación de palabras y con base en ello y la información de las hojas de vida, entre duplas de candidatos por un puesto de trabajo, escogieron al que consideran tuvo mejor posicionamiento en el ranking para ocupar ese puesto.

<br>
Ahora su tarea será evaluar cuál cree que fue la hoja de vida seleccionada por las empresas en cada ronda.
<br>

Esta etapa también se desarrolla en ocho (8) rondas, en cada una debe elegir, entre la dupla de candidatos, aquel que considere fue el más elegido en la sesión donde participaron las empresas. Si usted apuesta la cantidad de tokens que desea al candidato más elegido por las firmas para un puesto de trabajo, se gana esos tokens, si apuesta los tokens al candidato menos elegido por las empresas, los pierde.

<br>

Al finalizar la elección en las ocho (8) rondas, se elegirán 4 rondas aleatoriamente para calcular sus ganancias, incluyendo las pérdidas. 

<br>

Si tiene dudas, levante la mano para que alguien del equipo se acerque a su escritorio y la resuelva antes de comenzar. Evite siempre hacer preguntas en voz alta.

<br>

Ahora, dé click en el botón "Siguiente"
<div class="div_btnNext">
    <input type="button" id="btnNext" class="btnNext" value="Siguiente" onclick="nextView()">
    <button class="otree-btn-next btn btn-primary" style="display: none;" id="id_next" disabled>Siguiente</button>

</div>
{% endblock %}
