{{ block title }}
    Segunda parte de la actividad

{{ endblock }}
{{ block content }}
<p> Hace unas semanas se realizaron sesiones en este mismo laboratorio con unos 80 hombres, de entre 21 y 45 años. En esas sesiones, los participantes realizaron la misma tarea que usted acaba de realizar y otras tareas diferentes. Todas esas tareas sirven para estimar la velocidad de procesamiento del individuo. Los estudios sobre desempeño laboral han mostrado que esas tareas son buenas predictoras de la productividad. Se prevé que los participantes que obtuvieron un mejor desempeño en esas sesiones son más productivos laboralmente.</p>
<p> Posteriormente, se ordenó a estos individuos en un ranking usando los resultados obtenidos. Así, quienes obtuvieron una mejor posición en el ranking son las personas que obtuvieron un mejor desempeño en la ejecución de las tareas. Los de peor desempeño obtuvieron menores puntajes y quedaron ubicados en los últimos lugares de ese mismo ranking. Al finalizar las tareas, los participantes diligenciaron un formato de hoja de vida con su experiencia laboral y académica.</p>
<p> En esta etapa, usted tomará el rol de un reclutador laboral. El computador le mostrará las hojas de vida de dos candidatos que están compitiendo por un puesto de trabajo en una empresa. Su tarea será recomendar a uno de los dos candidatos al puesto descrito. Para ello usted tiene la siguiente información:</p>
<p> <li> Se encuentra familiarizado con el nivel de exigencia de la tarea de codificación de palabras, que la tratamos como predictora de la productividad laboral de los candidatos. </li></p>
<p> <li> La hoja de vida de cada candidato.</li></p>
<p> Basándose en ello, usted deberá predecir el candidato de la dupla que obtuvo una mejor posición en el ranking de la tarea de codificación y, por tanto, recomendará su hoja de vida para el puesto de trabajo al que se postula.</p>
<p> Esta tarea la deberá hacer para ocho (8) duplas. Cada dupla aparecerá una dupla de hojas de vida de candidatos a un puesto de trabajo. Es decir, usted al final habrá evaluado dieciséis (16) hojas de vida y escogido ocho (8) candidatos, uno por cada dupla.</p>
<p> Al inicio de cada dupla usted contará con 100 tokens para realizar su apuesta por el candidato que considere está mejor posicionado en el ranking de desempeño. Imaginemos que usted apuesta X número de tokens a un candidato, aquí pueden pasar tres cosas:</p>
<p> <li> Si usted apuesta en la dupla por el candidato que tuvo mejor desempeño de la dupla, ganará los tokens apostados. Por tanto, su ganancia de la dupla será +X.</li></p>
<p> <li> Si usted apuesta por el candidato que tuvo el desempeño más bajo de la dupla, entonces usted perderá los tokens apostados. Por tanto, su ganancia de la dupla será -X.</li></p>
<p> <li> Si usted no realiza ninguna apuesta, su ganancia de la dupla será cero (0)</li></p>
<p> Al final de esta etapa, cuando el computador escoja a azar las cuatro (4) duplas que serán pagadas, se sumarán las ganancias y pérdidas de esas duplas. Si el saldo es positivo, se le pagará ese monto. Si el saldo es negativo, se descontará de la suma fija de 350 tokens obtenidos por hacer la tarea de decodificación. Si sus pérdidas son mayores a la suma fija, solo recibirá el subsidio de transporte en efectivo.</p>
<p> Usted podrá seleccionar al candidato haciendo click con el mouse u oprimiendo con su dedo en la pantalla encima de la hoja de vida; luego usará el teclado para definir en el cuadro vacío que encuentra abajo de las hojas de vida, la cantidad de tokens, entre cero (0) y cien (100), que le apuesta a ese candidato.</p>
<p> Eligiendo al candidato y disponiendo la cantidad de tokens en el cuadro vacío, aparecerá un botón azul con la palabra “Siguiente” para guardar la apuesta y pasar a evaluar la siguiente dupla. El botón no aparecerá si no selecciona a uno de los candidatos o no escribe una cantidad de tokens para apostar. Tenga en cuenta que no podrá elegir a ambos candidatos en una misma dupla.</p>
<p> Las duplas aparecerán en su pantalla de manera aleatoria. Los participantes de la sala verán las mismas hojas de vida, pero en momentos diferentes.</p>
<p> Al final de esta etapa, cuando el computador escoja a azar las cuatro (4) duplas que serán pagadas, se sumarán las ganancias y pérdidas. Si el saldo es positivo, se adicionará a los 350 tokens que obtuvo en la primera parte. Si el saldo es negativo, se descontará de esos 350 tokens y se le pagará el remanente positivo. Si su saldo de pérdidas es mayor que a los 350 tokens, solo podrá irse con el subsidio de transporte.</p>
<p> Si tiene dudas, levante la mano para que alguien del equipo se acerque a su escritorio y la resuelva antes de comenzar. Evite siempre hacer preguntas en voz alta.</p>


    <em>{{ formfields }}</em>

<div class="row">
    <div class="col">
        <div class="text-end">
            <button class="otree-btn-next btn-lg btn-primary">Siguiente</button>
        </div>
    </div>
</div>

{{ endblock }}
